In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [20]:
sphome2023_era = pd.read_csv("starting_pitcher_data_home_2023.csv")
spaway2023_era = pd.read_csv("starting_pitcher_data_away_2023.csv")
sphome2023_era.head()

   Unnamed: 0  game_pk home_team  home_sp  np    ip   er  k  bb  h
0           0   718767       SEA   622491  76  6.00  0.0  6   0  1
1           1   718782       BOS   446372  80  3.33  5.0  4   4  6
2           2   718780       WSH   571578  85  3.00  2.0  3   3  7
3           3   718779       TEX   594798  73  3.67  5.0  7   0  6
4           4   718778        SD   605483  93  4.33  3.0  9   1  6

In [21]:
spaway2023_era = spaway2023_era.rename(columns={'away_team':'team','away_sp':'pitcher','np':'n_pitches'})
spaway2023_era.columns.values[0] = 'game_sequence'
spaway2023_era.insert(3,'is_home',False)
spaway2023_era['game_sequence']+=1
spaway2023_era.head()

,game_sequence,game_pk,team,is_home,pitcher,n_pitches,ip,er,k,bb,h
0,1,718767,CLE,False,669456,87,6.00,0.0,3,0,6
1,2,718782,BAL,False,502043,79,5.00,4.0,3,1,6
2,3,718780,ATL,False,608331,43,3.33,1.0,2,0,4
3,4,718779,PHI,False,605400,72,3.67,5.0,4,2,4
4,5,718778,COL,False,608566,87,6.00,2.0,5,0,5

In [22]:
sphome2023_era = sphome2023_era.rename(columns={'home_team':'team','home_sp':'pitcher','np':'n_pitches'})
sphome2023_era.columns.values[0] = 'game_sequence'
sphome2023_era.insert(3,'is_home',False)
sphome2023_era['game_sequence']+=1
sphome2023_era.head()

,game_sequence,game_pk,team,is_home,pitcher,n_pitches,ip,er,k,bb,h
0,1,718767,SEA,False,622491,76,6.00,0.0,6,0,1
1,2,718782,BOS,False,446372,80,3.33,5.0,4,4,6
2,3,718780,WSH,False,571578,85,3.00,2.0,3,3,7
3,4,718779,TEX,False,594798,73,3.67,5.0,7,0,6
4,5,718778,SD,False,605483,93,4.33,3.0,9,1,6

In [23]:
sp2023_era = pd.concat([sphome2023_era,spaway2023_era],axis=0).sort_values(by=['game_sequence','is_home']).reset_index(drop=True)
sp2023_era.head(10)

,game_sequence,game_pk,team,is_home,pitcher,n_pitches,ip,er,k,bb,h
0,1,718767,SEA,False,622491,76,6.00,0.0,6,0,1
1,1,718767,CLE,False,669456,87,6.00,0.0,3,0,6
2,2,718782,BOS,False,446372,80,3.33,5.0,4,4,6
3,2,718782,BAL,False,502043,79,5.00,4.0,3,1,6
4,3,718780,WSH,False,571578,85,3.00,2.0,3,3,7
5,3,718780,ATL,False,608331,43,3.33,1.0,2,0,4
6,4,718779,TEX,False,594798,73,3.67,5.0,7,0,6
7,4,718779,PHI,False,605400,72,3.67,5.0,4,2,4
8,5,718778,SD,False,605483,93,4.33,3.0,9,1,6
9,5,718778,COL,False,608566,87,6.00,2.0,5,0,5

In [24]:
sp2023_era.to_csv('pitching_data_2023_starter_era.csv', index=True)